/.project
[Bb]in
[Oo]bj
[Tt]humbs.db
*.bak
*.[Cc]ache
*.metaproj
*.metaproj.*
*.user
*.log
*.dat
*.DotSettings
*.tmp
packages
*.suo
*.FileListAbsolute.txt

*/node_modules

!/.metadata/
!/.gitignore

.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
